<% provide(:title, 'Home') %>
<section class="section">
  <div class="content has-text-centered">
    <h1>Welcome to JM Blog!</h1>
    <p>This is a simple blog for getting comfortable developing with Rails. In this application, one can sign up as a user, create posts and comments, and interact with those resources RESTfully.</p>
    <% if !logged_in? %>
      <p>Sign up today!</p>
      <a href="<%= signup_path %>" class="button is-dark">Signup</a>
    <% else %>
      <p>Enjoy!</p>
    <% end %>
  </div> 
</section>
