<% provide(:title, 'Edit Comment') %>

<div class="container">
  <div class="content has-text-centered">
    <h1>Edit Comment</h1>
  </div>
  <%= form_with(model: @comment, url: post_comment_path, local: true, method: 'patch') do |form| %>
    <div class="field">
      <%= form.label :body, class: 'label' %>
      <div class="control">
        <%= form.text_area :body, class: 'textarea' %>  
      </div>   
    </div>
    <div class="field">
      <div class="control has-text-centered">
        <%= form.button 'Edit Comment', class: 'button is-dark' %>  
      </div>   
    </div>
  <% end %>
</div>