<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= render 'layouts/csp_js_defaults' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
